html {
    font-size: 11pt;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, humanist,sans serif;
    margin: 2em;
}
.titolo {
    background-color: rgb(222,234,246);
    color: rgb(31,78,121);
    margin-left: -20px;
    padding-bottom: 0.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size:200%;
}
.sottotitolo {
    background-color: rgb(222,234,246);
    color: rgb(31,78,121);
    font-size:109%;
    margin-left: -20px;
    margin-bottom: 0.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
h1 {
    counter-reset: l2 0;
    counter-increment: l1;
    background-color: rgb(222,234,246);
    color: rgb(31,78,121);
    font-size:145%;
    margin-left: -20px;
    margin-top:1em;
    margin-bottom: 0;
}
h1:before {
    content: counter(l1) " ";
}
h2 {
    counter-increment: l2;
    color: rgb(46,116,181);
    font-size:118%;
    font-weight: normal;
    margin-left: -10px;
    margin-top:1em;
    margin-bottom: 0;
}
h2:before {
    content: counter(l1) "." counter(l2) ". ";
}
h3 {
    counter-increment: l3;
    color: rgb(31,77,120);
    font-size:109%;
    font-weight: normal;
    margin-top:2pt;
    margin-bottom: 0;
}
h3:before {
    content: "(S" counter(l3) ") ";
    font-size: 70%;
}
h4 {
    color: rgb(46,116,181);
    font-size:100%;
    font-style: italic;
    font-weight: normal;
    margin-top:0.5em;
    margin-bottom: 0;
}
pre {
    counter-increment: excode!important;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    background-color: rgb(242,242,242);
    font-family: Lucida Console,Courier,monospace, sans-serif;
    white-space: pre-wrap;
    display:flex;
}

pre code {
	background-color: rgb(242,242,242)!important;
	padding: 0.5em!important
}

pre:before {
    content: "(Q" counter(excode) ") ";
    color: #999;
    font-size: 70%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, humanist,sans serif;
    background-color: white;
}

p {
	margin-top:0;
	margin-bottom: 1em;
	text-align: justify;
}

pre[class*=&quot;language-&quot;] {
	padding: 0;
}

ol  ol {
	list-style-type: lower-alpha;
}

ol  ol  ol {
	list-style-type: lower-roman;
}

@media print {
	html {
		margin: 0;		
	}
	
	@page {
		size: A4;
		margin-top: 25mm;
		margin-bottom: 20mm;
		margin-left: 20mm;
		margin-right: 20mm;
		@bottom-right {
			content: "[" counter(page) "]";
			font-size: 9pt;	
		}
		@top {
			content: "Corso di Laboratorio di Basi di Dati – Esempi di codice SQL";
			font-size: 9pt;
			font-variant: italic;
			text-align: left;
			margin: -20px;
		}
	}

	.pagedjs_margin-top .pagedjs_margin-content {
		width: 100%;
		background-color: rgb(222,234,246);
		color: rgb(31,78,121);
	}

	pre {
		page-break-inside: avoid;		
	}
}